<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wafer fault detection</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<form action="/predict" method="post" enctype="multipart/form-data">

    <div class="frame">

        <div class="center">

            <div class="title">
                <h1>Drop file to upload</h1>
            </div>

            <div class="dropzone">
                <!-- upload icon -->
                <img src="https://cdn-icons-png.flaticon.com/512/724/724933.png" 
                     width="40" class="upload-icon">

                <!-- file input -->
                <input type="file" name="file" class="upload-input" required>
            </div>

            <button type="submit" class="btn">
                Upload file
            </button>

        </div>

    </div>

</form>

</body>
</html>